<html>
    <head>
        <title>Wear.com</title>
        <!--import jquery CDN below-->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
        <link href = "/assets/styles.css" rel = "stylesheet" type = "text/css" />
        <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    </head>

    <body>

        <div class = "top-bar">
            <div class = "menu">
                <i class="fa fa-lg fa-bars" aria-hidden="true" id = "menu"></i>
            </div>
            <div class = "logo">
                <image id = "logo" src = "/images/wearLogo.png" alt = "Wear Logo">
            </div>
            <div class = "nav">
                <%- include ./partials/navigation.ejs %>
            </div>            
        </div>

        <div class = "side-menu">
                <%- include ./partials/sideMenu.ejs %>
        </div>

        <div>
            <%- include ./partials/searchBar.ejs %>
        </div>

        <div class = "banner">
            <%- include ./partials/banner.ejs %>
        </div>

        <div class = "main">
            <h1>HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE</h1>
            <h1>HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE</h1>
            <h1>HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE</h1>
            <h1>HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE</h1>
            <h1>HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE</h1>
            <h1>HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE</h1>
            <h1>HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE</h1>
            <h1>HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE</h1>
            <h1>HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE</h1>
            <h1>HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE</h1>
            <h1>HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE</h1>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/scripts.js"></script>

    </body>


    <footer>
        <%- include ./partials/footer.ejs %>
    </footer>
</html>